<div class="login-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mb-3">
      <img src="assets/images/app-logo.png" height="40px" width="40px" alt="app-logo">
      <h3 class="ms-2">HMS</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center mb-3">
      <h5>Login</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <form autocomplete="off" [formGroup]="form" *ngIf="form">
        <div class="mb-3 form-group">
          <app-form-control>
            <label for="Email">Email</label>
            <input type="text" pInputText id="Email" [formControlName]="'email'">
          </app-form-control>
        </div>
        <div class="mb-3 form-group">
          <app-form-control>
            <label for="Password">Password</label>
            <p-password type="password" id="Password" [formControlName]="'password'" [toggleMask]="true" [feedback]="false"></p-password>
          </app-form-control>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <p-button (click)="onSignInClicked()" class="p-button-primary" label="Login"></p-button>
        </div>
        <div>
          <p style="font-size: 14px; text-align: center; margin-bottom: 5px;">Not signed up?<a [routerLink] = "['/HMS/auth/signup']" style="text-decoration: none; color: #00dbfb; font-weight: bolder;margin-left: 5px;">Create an account.</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
