<div class="landing-page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 p-0">
        <div class="search-doctor-panel">
          <h1>Better Health Care for a Better Life</h1>

          <div class="search-doctor-container">
            <div class="d-flex flex-wrap justify-content-around align-items-center " style="border-bottom: 1px solid #E0E0E0; padding-bottom: 20px">
              <div >
                <h4 class="m-0">Book a doctor</h4>
                <p>Examination or procedure</p>
              </div>
              <div>
                <h4 class="m-0">TeleHealth</h4>
                <span>Call Consultation or Doctor</span>
              </div>
            </div>
            <div class="px-3" style="padding-top: 20px">
              <form [formGroup]="form" class="d-flex flex-wrap justify-content-between">
                <div class="form-group flex-grow-1 me-3">
                  <app-form-control>
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [formControlName]="'name'">
                  </app-form-control>
                </div>

                <div class="form-group flex-grow-1 me-3">
                  <app-form-control>
                    <label for="speciality">Speciality</label>
                    <p-dropdown id="speciality" [options]="specialities" [autoDisplayFirst]="false" [formControlName]="'speciality'"></p-dropdown>
                  </app-form-control>
                </div>

                <div class="form-group flex-grow-1 me-3">
                  <app-form-control>
                    <label for="city">Select City</label>
                    <p-dropdown id="city" [formControlName]="'city'"></p-dropdown>
                  </app-form-control>
                </div>

                <p-button class="p-button-secondary" [label]="'Search'" (click)="searchDoctors()"></p-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5" *ngIf="isSchedulingAppointment ? (doctors && doctors.length > 0) : (topRankedDoctors && topRankedDoctors.length > 0)">
      <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="isSchedulingAppointment ? (doctors && doctors.length > 4) : (topRankedDoctors && topRankedDoctors.length > 4)">
        <p-carousel [value]="isSchedulingAppointment ? doctors : topRankedDoctors" [autoplayInterval]="3000" [numVisible]="3" [numScroll]="1" [circular]="doctors && doctors.length > 3">
          <ng-template pTemplate="header">
            <h5 class="doctor-heading">{{isSchedulingAppointment ? 'Doctors' : 'Top Ranked Doctors'}}</h5>
          </ng-template>
          <ng-template let-doctor pTemplate="item">
            <div class="doctor-details-container">
              <div class="d-flex flex-column align-items-center" style="border-bottom: 1px solid #f0f0f0; padding-bottom: 15px;"  >
                <div class="d-flex justify-content-center align-items-center mb-2">
                  <img *ngIf="doctor?.profileImage" [src]="API_URL + 'public/images/' + doctor?.profileImage" alt="logo">

                  <i *ngIf="!doctor?.profileImage" class="pi pi-user"></i>
                </div>
                <h6 (click)="selectedDoctor = doctor" class="text-capitalize">{{doctor?.firstName}} {{doctor?.lastName}}</h6>
                <ng-container *ngIf="!isSchedulingAppointment">
                  <p-rating [cancel]="false" [readonly]="true" [ngModel]="doctor?.rating"></p-rating> <span>({{doctor?.totalReviews}})</span>
                </ng-container>
                <span *ngIf="doctor?.addressDetails && (doctor?.addressDetails?.city || doctor?.addressDetails?.country)"><i class="pi pi-map-marker"></i> {{doctor?.addressDetails?.city}} {{doctor?.addressDetails?.country}}</span>
              </div>

              <div style="padding-top: 15px;">
                <div class="d-flex justify-content-between mb-3">
                  <span class="fw-bold text-black">Phone</span>
                  <span>{{doctor?.phoneNumber}}</span>
                </div>
                <div class="d-flex justify-content-between mb-3">
                  <span class="fw-bold text-black">Age</span>
                  <span>{{doctor?.age}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="fw-bold text-black">Blood Group</span>
                  <span>{{doctor?.bloodGroup}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <ng-container *ngIf="isSchedulingAppointment ? (doctors && doctors.length <=4) : (topRankedDoctors && topRankedDoctors.length <= 4)">
        <h5 class="doctor-heading">{{isSchedulingAppointment ? 'Doctors' : 'Top Ranked Doctors'}}</h5>
        <div class="col-lg-3 col-lg-3 col-sm-12" *ngFor="let doctor of isSchedulingAppointment ? doctors : topRankedDoctors">
            <div class="doctor-details-container" >
              <div class="d-flex flex-column align-items-center" style="border-bottom: 1px solid #f0f0f0; padding-bottom: 15px;">
                <div class="d-flex justify-content-center align-items-center mb-2">
                  <img *ngIf="doctor?.profileImage" [src]="API_URL + 'public/images/' + doctor?.profileImage" alt="logo">

                  <i *ngIf="!doctor?.profileImage" class="pi pi-user"></i>
                </div>
                <h6 (click)="selectedDoctor = doctor" class="text-capitalize">{{doctor?.firstName}} {{doctor?.lastName}}</h6>
                <div *ngIf="!isSchedulingAppointment" class="d-flex align-items-center">
                  <p-rating [cancel]="false" [readonly]="true" [ngModel]="doctor?.rating" class="me-2"></p-rating><span style="line-height: 1; font-size: 15px !important; font-weight: 500;">({{doctor?.totalReviews}})</span>
                </div>
                <span *ngIf="doctor?.addressDetails && (doctor?.addressDetails?.city || doctor?.addressDetails?.country)"><i class="pi pi-map-marker"></i> {{doctor?.addressDetails?.city}} {{doctor?.addressDetails?.country}}</span>
              </div>

              <div style="padding-top: 15px;">
                <div class="d-flex justify-content-between mb-3">
                  <span class="fw-bold text-black">Phone</span>
                  <span>{{doctor?.phoneNumber}}</span>
                </div>
                <div class="d-flex justify-content-between mb-3">
                  <span class="fw-bold text-black">Age</span>
                  <span>{{doctor?.age}}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="fw-bold text-black">Blood Group</span>
                  <span>{{doctor?.bloodGroup}}</span>
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    </div>

    <div class="row mt-5" *ngIf="selectedDoctor">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <app-schedule-appointment [isTemporaryUser]="true" [setDoctor]="selectedDoctor" (cancel)="selectedDoctor = null; isSchedulingAppointment = false"></app-schedule-appointment>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #15558d;">
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column justify-content-center align-items-start">
              <h2 class="landing-sub-heading">What is Lorem?</h2>

              <div class="d-flex justify-content-start align-items-center">
                <i class="pi pi-check-circle me-3"></i>
                <span class="landing-sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </div>

              <div class="d-flex justify-content-start align-items-center">
                <i class="pi pi-check-circle me-3"></i>
                <span class="landing-sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </div>

              <div class="d-flex justify-content-start align-items-center">
                <i class="pi pi-check-circle me-3"></i>
                <span class="landing-sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </div>

              <div class="d-flex justify-content-start align-items-center">
                <i class="pi pi-check-circle me-3"></i>
                <span class="landing-sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <img src="assets/images/what-is.svg" alt="" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-4">
      <div class="col-lg-12 col-md-12 col-sm-12 how-works-container">
        <div class="container-fluid py-3">
          <h2 class="landing-sub-heading text-center">How Lorem Works</h2>

          <div class="works-detail-container">
            <div class="work-detail-container">
              <h4>01</h4>
              <span>Get matched to the right therapist</span>
              <img src="assets/images/get-therapist.svg" alt="">
            </div>

            <div class="work-detail-container">
              <h4>02</h4>
              <span>Book your session</span>
              <img src="assets/images/select-preferred.svg" alt="">
            </div>

            <div class="work-detail-container">
              <h4>03</h4>
              <span>Payment</span>
              <img src="assets/images/payment-options.svg" alt="">
            </div>

            <div class="work-detail-container">
              <h4>04</h4>
              <span>Start session</span>
              <img src="assets/images/start-session.svg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr style="height: 5px; background-color: #15558d; opacity: 1">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 p-0">
        <div class="footer-container">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <ul>
                  <li><h4>Specialties</h4></li>
                  <li>Urology</li>
                  <li>Orthopedic</li>
                  <li>Cardiologist</li>
                  <li>Dentist</li>
                  <li>Neurology</li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <ul>
                  <li><h4>Cities</h4></li>
                  <li>Pakistan</li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <ul>
                  <li><h4>Need Help?</h4></li>
                  <li>Contact Us</li>
                  <li>Terms of Use</li>
                  <li>Privacy Policy</li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <ul>
                  <li><h4>HMS</h4></li>
                  <li>About Us</li>
                  <li>Our Team</li>
                  <li>Careers</li>
                  <li>Press</li>
                </ul>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>

    <hr style="height: 5px; background-color: #15558d; opacity: 1">

    <div class="row d-flex align-items-center">
      <div class="col-lg-4 d-flex justify-content-center">
        <div class="social-links">
          <i class="pi pi-instagram"></i>
          <i class="pi pi-facebook"></i>
          <i class="pi pi-twitter"></i>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center">
        <h2 style="color: #15558d">HMS</h2>
      </div>

      <div class="col-lg-4 d-flex justify-content-center">
        <h6 style="color: #15558d">HMS © copyright 2022</h6>
      </div>
  </div>
  </div>
</div>
