<div class="hospitals-container">
  <div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between align-items-center">
      <div class="content-main-heading">
        <h3>Hospitals</h3>
      </div>
      <div class="d-flex align-items-center"  *ngIf="user && user.role === roles.ADMIN">
        <p-dropdown [options]="statusValueSet" (onChange)="filterHospitalsList($event)" class="me-3"></p-dropdown>

        <p-button label="Add Hospital" class="p-button-primary" (click)="showEditHospital = true"></p-button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p-table [value]="hospitals" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 22.5%">Name</th>
            <th style="width: 22.5%">Location</th>
            <th style="width: 20%">Doctors</th>
            <th style="width: 20%">Patients</th>
            <th style="width: 15%">Account Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hospital>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="table-main-image">
                  <img [src]="API_URL + 'public/images/' + hospital.profileImage" alt="logo">
                </div>
                <span class="cursor-pointer router-text" [routerLink]="'/admin/edit-hospital/' + hospital.createdBy">{{hospital.name}}</span>
              </div>
            </td>
            <td>{{hospital.location}}</td>
            <td>{{hospital.doctors}}</td>
            <td>{{hospital.patients}}</td>
            <td>
              <p-inputSwitch [ngModel]="hospital.status === status.ACTIVE" (onChange)="updateHospitalStatus(hospital)"></p-inputSwitch>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No hospitals found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>



<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
