.overview-containers {
  display: flex;
  justify-content: space-between;

  .overview-container {
    background: rgba(255,255,255,.8);
    border: 1px solid #EEF1FE;
    border-radius: 5px;
    box-shadow: 0 7px 10px #eef1fe;
    margin-bottom: 30px;
    padding: 15px;
    display: flex;
    align-items: center;

    i {
      align-items: center;
      border-radius: 3px;
      color: #fff;
      display: inline-flex;
      font-size: 1.875rem;
      height: 52px;
      justify-content: center;
      text-align: center;
      width: 52px;
    }

    .overview-details {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      .title {
        font-size: 16px;
        font-weight: 400;
        color: #7e84a3;
        margin-bottom: 2px;
      }

      .count {
        font-weight: 700;
        font-size: 20px;
        color: #2e3842
      }
    }
  }

  .hospitals-overview-container i {
    background-color: #0ce0ff !important;
  }

  .doctors-overview-container i {
    background-color: #1b5a90 !important;
  }

  .patients-overview-container i {
    background-color: #ffbc00 !important;
  }

  .transactions-overview-container i {
    background-color: #f0142f !important;
  }
}

.chart-container {
  background: rgba(255,255,255,.8);
  border: 1px solid #EEF1FE;
  border-radius: 5px;
  box-shadow: 0 7px 10px #eef1fe;
  margin-bottom: 30px;
  padding: 15px;
}
