<div class="reviews-container">
  <div class="review-container">
    <div class="me-3">
<!--      <img src="" alt="">-->

      <i class="pi pi-user"></i>
    </div>
    <div class="comment-container flex-grow-1">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h6 class="mb-0">Richard Wilson</h6>
          <span class="reviewed-days-text">Reviewed 2 Days Ago</span>
        </div>
        <div>
          <p-rating [cancel]="false"></p-rating>
        </div>
      </div>
      <div>
        <h6 class="recommended"><i class="pi pi-thumbs-up me-2"></i>I recommend the doctor</h6>
      </div>
      <div class="comment-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque eaque pariatur. Adipisci, animi cumque ducimus eaque error facere harum illum magni modi quas reprehenderit suscipit totam, unde voluptas voluptate!</p>
      </div>
    </div>
  </div>
</div>
