.patient-wrapper-container {
  position: absolute;
  top: 70px;
  width: 100%;
  min-height: calc(100% - 70px);
  height: calc(100% - 70px);

  .navigation-container {
    background-color: #15558d;
    padding: 15px 30px;

    span {
      color: #ffffff;
      font-size: 12px;
    }

    h2 {
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      margin: 5px 0 0;
    }
  }

  .content-wrapper {
    padding: 20px;
    width: 100%;
  }
}
