<div class="patient-side-panel-container">
  <div class="details-container">
    <div class="image-container">
      <img *ngIf="user?.profileImage" [src]="API_URL + 'public/images/' + user?.profileImage" alt="">

      <i *ngIf="!user?.profileImage" class="pi pi-user"></i>
    </div>

    <div class="profile-details-container">
      <b class="text-capitalize">{{user?.firstName}} {{user?.lastName}}</b>
      <span>{{user?.DOB | date: 'dd MMM YYYY'}}, {{getPatientAge() + ' Years'}}</span>
      <span *ngIf="user?.addressDetails?.city && user?.addressDetails?.country">{{user?.addressDetails?.city}}, {{user?.addressDetails?.country}} </span>
    </div>
  </div>

  <div class="navigation-container">
    <div class="side-panel-menu">
      <ul>
        <li *ngFor="let item of sidePanelOptions">
          <a [routerLink]="item.route" [routerLinkActive]="'active'">
            <i [class]="item.icon"></i>
            <span>{{item.label}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
