<div>
  <app-nav-bar [setUser]="user" [options]="navbarOptions"></app-nav-bar>
</div>

<div class="doctor-wrapper-container">
  <div class="navigation-container">
    <span>Doctor</span>
    <h2>{{subHeading}}</h2>
  </div>

  <div class="content-wrapper">

    <div class="row">
      <div class="col-lg-3 col-lg-3">
        <app-doctor-side-panel [setUser]="user"></app-doctor-side-panel>
      </div>

      <div class="col-lg-9 col-md-9">
        <div [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </div>



  </div>


</div>
