.logo-container {
  display: flex;
  align-items: center;

  .image-container {
    border-radius: 4px;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 4px;
    }

    .pi {
      font-size: 50px;
    }
  }

  .button-container {
    p {
      color: #757575;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

:host::ng-deep {
  .p-button-primary .p-button {
    border-radius: 50px !important;
  }
}
